<style>
    h1 {text-align: center;}
    div {
    text-align: center;
    padding: 5px;
    font-size: large;}
</style>

<h1>Graph Visualization</h1>

<div>{{ graph1|safe }}  </div>
<div> It shows the count of pages in  various  papers  </div>
<div>{{ graph2|safe }}   </div>
<div> It shows the number of papers published in different months  </div>
<div>{{ graph3|safe }}  </div>
<div> It shows the number of papers published in different years  </div>
<div>{{ graph4|safe }}  </div>
<div> It shows the number of papers published in different months and in which year   </div>
<div>{{ graph5|safe }}   </div>
<div> It shows the number of papers published in different years and what months is more frequent   </div>
<div>{{ graph6|safe }}  </div>
<div> Is shows the historical trend of top 6 keywords in various years   </div>
<div>{{ graph7|safe }} </div>
<div> Is shows the overall usage of top 6 keywords   </div>
<div>{{ graph8|safe }} </div>
<div> It gives the word count of keywords to provide at a glance look of occurence of keywrods.Greater the text size, larger the frequency   </div>
<div>Greater the text size, larger the frequency   </div>
<div>{{ graph9|safe }}  </div>
<div> Is shows the frquency of papers published by top 6 authors   </div>