<style>
    h1 {text-align: center;}
    div {
    text-align: center;
    padding: 5px;
    font-size: large;}
</style>

<h1>Graph Visualization</h1>

<div>{{ graph1|safe }} Graph1 shows number of pages per year  </div>
<div>{{ graph2|safe }} Graph2 shows number of pages per month  </div>
<div>{{ graph3|safe }} Graph3 shows number of papers published in different year  </div>
<div>{{ graph4|safe }} Graph4 shows number of papers per month in different year  </div>
<div>{{ graph5|safe }} Graph5 shows number of papers per year in different month  </div>
<div>{{ graph6|safe }} Graph6 shows the variation of most frequent words per year </div>
<div>{{ graph7|safe }} Graph7 is piechat shows keywords distribution </div>
<div>{{ graph8|safe }} Graph8 is the keyword showcase  </div>
<div>{{ graph9|safe }} Graph9 piechat shows top 5 authors  </div>